<%= stylesheet_link_tag "corporation" %>
<div class="container mx-auto px-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Adhérents</h1>
    <a href="<%= root_path %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Retour à l'accueil</a>
  </div>

  <div class="flex">
    <%= link_to "Créer un formulaire avec un nouvel adhérent", new_avec_adherent_corporation_adherents_path(@corporation), data: { turbo: false }, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mb-2" %>
  </div>

  <%= search_form_for @q, url: corporation_path(@corporation), html: { class: "search-form mb-6" } do |f| %>
    <div class="flex">
      <%= f.search_field :nom_or_numero_adherent_cont, placeholder: "Rechercher par nom ou numéro adhérent", class: "search-field w-full px-4 py-2 rounded border border-gray-300", id: "search-bar-id" %>
      <%= f.submit "Rechercher", class: "search-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 ml-2" %>
    </div>
  <% end %>

  <% @adherents.each do |adherent| %>
    <script src="<%= asset_path('index_corporations.js') %>"></script>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <div class="mb-6 border-b border-gray-300 pb-6">
        <h2 class="text-xl font-semibold mb-2"><%= adherent.nom %></h2>
        <p class="text-gray-600 mb-2"><%= adherent.numero_adherent %></p>

        <%= select_tag "form-year-#{adherent.id}", options_for_select(@adherent_years[adherent.id]), class: "form-select block w-full mt-1 mb-4 year-select", data: { "corporation-id" => @corporation.id, "adherent-id" => adherent.id } %>
        <span class="voir-link bg-blue-500 text-white font-bold py-2 px-4 mt-6 rounded voir-link-hover" data-adherent-id="<%= adherent.id %>" data-corporation-id="<%= @corporation.id %>">Voir</span>
        <%= link_to "Créer un formulaire", new_corporation_adherent_formulaire_path(@corporation, adherent), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded" %>
        <%= link_to "Télécharger PDF", download_pdf_corporation_adherent_path(@corporation, adherent), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded" %>
      </div>
    </div>
  <% end %>
</div>

