<div class="container mx-auto px-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Modifier le nom de la corporation</h1>
    <%= link_to "Retour", corporation_path(@corporation), data: { turbo: false },  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <%= form_with(model: [@corporation, @adherent], url: corporation_adherent_path(@corporation, @adherent), method: :patch) do |form| %>
    <div class="mb-4">
      <%= form.label :nom, "Nom actuel : #{@adherent.nom}", class: "block text-gray-700 text-sm font-bold mb-4" %>
      <%= form.text_field :nom, class: "form-input w-full mb-4" %>
    </div>
    <div class="flex justify-end">
      <%= form.submit "Enregistrer", data: { confirm: "Are you sure?" }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded" %>
    </div>
  <% end %>
</div>
