<div class="flex flex-col">
  <div class="flex justify-between items-center">
    <%= link_to "Retour", request.referer, class: "bg-blue-500 text-white font-bold py-2 px-4 rounded mb-4", data: { turbo: false } %>
    <%= button_tag "Bas de la page", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded mb-4 place-self-start", data: { controller: "scroll-down", action: "click->scroll-down#scrollDown", target: "scroll-down.button"  } %>
  </div>

  <% corporation_id = params[:corporation_id] %>


  <% if corporation_id == '1' %>
    <%= render partial: 'formulaires_edition_show/peintres' %>
  <% elsif corporation_id == '2'%>
    <%= render partial: 'formulaires_edition_show/boulangers' %>
  <% elsif corporation_id == '3'%>
    <%= render partial: 'formulaires_edition_show/coiffeurs' %>
  <% elsif corporation_id == '4'%>
    <%= render partial: 'formulaires_edition_show/menuisiers' %>
  <% elsif corporation_id == '5'%>
    <%= render partial: 'formulaires_edition_show/copama' %>
  <% else %>
    <% redirect_to root_path %>
  <% end %>
</div>





