<h1>Créer un nouveau formulaire</h1>

<%= form_with(model: [@corporation, @adherent, @formulaire], url: corporation_adherent_formulaires_path(@corporation, @adherent), local: true) do |form| %>

  <%= @max_year_data.nom_formulaire %> <br>

  <div class="field">
    <%= form.label :nom_prenom, "Nom" %>
    <%= form.text_field :nom_prenom %>
  </div>

  <div class="field">
    <%= form.label :annee, "Année" %>
    <%= form.text_field :annee %>
  </div>

  <div class="field">
    <%= form.label :raison_sociale, "Raison sociale" %>
    <%= form.text_field :raison_sociale %>
  </div>

  <div class="field">
    <%= form.label :adresse, "Adresse" %>
    <%= form.text_field :adresse %>
  </div>

  <div class="field">
    <%= form.label :cp_ville, "CP Ville" %>
    <%= form.text_field :cp_ville %>
  </div>

  <h2> Vous </h2>

  <div class="field">
    <%= form.label :telephone, "Téléphone" %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :portable, "Portable" %>
    <%= form.text_field :portable %>
  </div>

  <div class="field">
    <%= form.label :email, "E-mail" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :statut, "Statut du chef d'entreprise * :"%>
    <%= form.radio_button :statut, 'Non-salarié', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode, class:"statut" %> Non-salarié
    <%= form.radio_button :statut, 'Salarié', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode, class:"statut" %> Salarié
  </div>

  <h2> Votre entreprise</h2>

  <script src="<%= asset_path('forme_juridique.js') %>"></script>
  <div class="form-options">
    <%= form.label :forme_juridique, "Forme juridique :" %>
    <%= form.radio_button :forme_juridique, 'Ent. ind.', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode %> Ent. ind.<br>
    <%= form.radio_button :forme_juridique, 'EIRL', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode %> EIRL<br>
    <%= form.radio_button :forme_juridique, 'EURL', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode %> EURL<br>
    <%= form.radio_button :forme_juridique, 'SARL', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode %> SARL<br>
    <%= form.radio_button :forme_juridique, 'SAS', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode %> SAS<br>
    <%= form.radio_button :forme_juridique, 'SASU', class: 'form-check-input', readonly: @show_mode, disabled: @show_mode %> SASU<br>
    <%= form.radio_button :forme_juridique, 'Autre', class: 'form-check-input', id: 'autre-option', readonly: @show_mode, disabled: @show_mode %> Autre :
    <%= form.text_field :forme_juridique, { class: 'text-field custom-text-field', disabled: true }%>
  </div>

  <div>
    <%= form.label :code_naf_ape, "Code NAF / APE : " %>
    <%= form.text_field :code_naf_ape, readonly: @show_mode, disabled: @show_mode, class: 'custom-text-field' %>
  </div>

  <div>
    <%= form.label :siret, " SIRET : " %>
    <%= form.text_field :siret, readonly: @show_mode, disabled: @show_mode, class: 'custom-text-field' %>
  </div>

  <div class="sixp sixp2">
    <%= form.label :nb_salaries, "Nombre de salariés * : " %>
    <%= form.text_field :nb_salaries, readonly: @show_mode, disabled: @show_mode, class: 'custom-text-field' %>
  </div>

  <div class="quatrep">
    <%= form.label :nb_apprentis, "dont  " %>
    <%= form.text_field :nb_apprentis, readonly: @show_mode, disabled: @show_mode, class: 'custom-text-field' %>apprentis
  </div>


  <h2> Votre cotisation </h2>


  <div>
    <%= form.label :lieu, "Fait à : " %>
    <%= form.text_field :lieu, readonly: @show_mode, disabled: @show_mode,  class: 'custom-text-field' %>
  </div>

  <div>
    <%= form.label :date, "Date :" %>
    <%= form.text_field :date, class: 'date-input', pattern: '\d{2}/\d{2}/\d{4}', placeholder: 'Format : jj/mm/aaaa', readonly: @show_mode, disabled: @show_mode,  class: 'custom-text-field' %>
  </div>

  <div>
    <%= form.check_box :checkbox_1, disabled: @show_mode %>
  </div>

  <div class="field">
    <%= form.label :titulaire_compte, "Titulaire du compte" %>
    <%= form.text_field :titualire_compte %>
  </div>

  <div class="field">
    <%= form.label :adresse_sepa, "CP Ville" %>
    <%= form.text_field :adresse_sepa %>
  </div>

  <div class="field">
    <%= form.label :cp_ville_sepa, "Adresse postale" %>
    <%= form.text_field :cp_ville_sepa %>
  </div>

  <div class="field">
    <%= form.label :iban_sepa, "IBAN" %>
    <%= form.text_field :iban_sepa %>
  </div>

  <div class="field">
    <%= form.label :bic_sepa, "BIC" %>
    <%= form.text_field :bic_sepa %>
  </div>

  <div class="field">
    <%= form.label :lieu_date_sepa, "CP Ville" %>
    <%= form.text_field :lieu_date_sepa %>
  </div>

  <div class="actions">
    <%= form.submit "Créer le formulaire" %>
  </div>
<% end %>