<div class="flex flex-col">
  <div class="flex justify-between items-center">
    <%= javascript_include_tag "scroll_down", type: :module %>
    <%= javascript_include_tag "forme_juridique", type: :module %>
    <%= link_to "Retour", corporation_path(@corporation, selected_year: session[:selected_year]), data: { turbo: false }, class: "bg-blue-500 text-white font-bold py-2 px-4 rounded mb-4" %>
    <%= button_tag "Bas de la page", id: "scroll-to-bottom-button", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded mb-4 place-self-start" %>
  </div>


  <% corporation_id = params[:corporation_id] %>


  <% if corporation_id == '1' %>
    <%= render partial: 'formulaires_creation/peintres' %>
  <% elsif corporation_id == '2'%>
    <%= render partial: 'formulaires_creation/boulangers' %>
  <% elsif corporation_id == '3'%>
    <%= render partial: 'formulaires_creation/coiffeurs' %>
  <% elsif corporation_id == '4'%>
    <%= render partial: 'formulaires_creation/menuisiers' %>
  <% elsif corporation_id == '5'%>
    <%= render partial: 'formulaires_creation/copama' %>
  <% else %>
      <% redirect_to root_path %>
  <% end %>

</div>