<h1> Ajout d'un nouvel adhérent </h1>
<%= form_with(model: [@corporation, @adherent], url: create_avec_adherent_corporation_adherents_path(@corporation), local: true) do |form| %>
  <%= form.label :nom, "Nom Prénom" %>
  <%= form.text_field :nom %>

  <%= fields_for :formulaire do |formulaire_fields| %>
    <%= formulaire_fields.label :raison_sociale %>
    <%= formulaire_fields.text_field :raison_sociale %>
  <% end %>

  <%= form.submit %>
<% end %>